<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stew.kotlinjetpack">
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".navigation.TestNavigationActivity" />
        <activity android:name=".lifecycle.TestLifecycleActivity" />
        <activity android:name=".livedata.TestLiveDataActivity" />
        <activity android:name=".livedata.TestLiveDataTransformationsActivity" />
        <activity android:name=".viewmodel.TestViewModelActivity"/>
        <activity android:name=".viewmodel.TestSharedViewModelActivity"/>
        <activity android:name=".mvvmsample.TestUserActivity"/>
        <activity android:name=".databinding.TestDataBindingActivity"/>
        <activity android:name=".coroutine.TestCoroutineActivity"/>
    </application>

</manifest>